
<div class="row">
    <div class="col">
        <h3>Avilable Burgers:</h3>
        <!-- available  -->
        {{#each available}}
        
        <div class="btn-toolbar mb-3">
            <div class="input-group-text" style= "background-color: green;color:white;">{{burger_name}}</div>

            <div>
                <a href="/devour/{{id}}" class="btn btn-danger">Devour-It!</a>
            </div>
            
        </div>
        {{/each}}
    </div>
    <div class="col">
        <h3>Devoured:</h3>
        <!-- devoured burgers -->
        {{#each devoured}}
        <div class="alert alert-secondary" style = "background-color: rgb(220, 81, 81);">{{burger_name}}</div>
        {{/each}}
    </div>
</div>

